<template>
    <el-dialog
            :title="!dataForm.id ? '新增' : '修改'"
            :close-on-click-modal="false"
            :visible.sync="visible">
        <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()"
                 label-width="80px">

            #foreach ($column in $columns)
                #if($column.attrname != "id"
                &&$column.attrname != "delFlag"
                &&$column.attrname != "createBy"
                &&$column.attrname != "createTime"
                &&$column.attrname != "updateBy"
                &&$column.attrname != "updateTime"
                &&$column.attrname != "tenantId"
                &&$column.attrname != "state")

                    #if($column.attrType != "BigDecimal"
                        &&$column.attrType != "Date")
                    <el-form-item label="$column.comments" prop="$column.attrname">
                        <el-input v-model="dataForm.$column.attrname" placeholder="$column.comments"></el-input>
                    </el-form-item>
                    #end
                    #if($column.attrType == "BigDecimal")
                        <el-form-item label="$column.comments" prop="$column.attrname">
                            <el-input-number v-model="dataForm.$column.attrname" :precision="2" :step="0.1" :max="100000"></el-input-number>
                        </el-form-item>
                    #end
                    #if($column.attrType == "Date")
                        <el-form-item label="$column.comments" prop="$column.attrname">
                            <el-date-picker
                                    v-model="dataForm.$column.attrname"
                                    type="datetime"
                                    placeholder="选择日期时间"
                                    align="right"
                                    format="yyyy-MM-dd HH:mm:ss"
                                    value-format="yyyy-MM-dd HH:mm:ss"
                                    :picker-options="pickerOptions">
                            </el-date-picker>
                        </el-form-item>
                    #end
                #end

                #if($column.attrname == "state")
                    <el-form-item label="状态" prop="state">
                        <el-switch
                                v-model="dataForm.state"
                                active-value="0"
                                inactive-value="1"
                                active-text="启用"
                                inactive-text="禁用">
                        </el-switch>
                    </el-form-item>
                #end
            #end


        </el-form>
        <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
    </el-dialog>
</template>

<script>
    export default {
        data() {
            return {
                visible: false,
                pickerOptions: {
                    shortcuts: [{
                        text: '今天',
                        onClick(picker) {
                            #[[picker.$emit('pick', new Date());]]#
                        }
                    }, {
                        text: '昨天',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24);
                            #[[picker.$emit('pick', date);]]#
                        }
                    }, {
                        text: '一周前',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                            #[[picker.$emit('pick', date);]]#
                        }
                    }]
                },
                dataForm: {
                    #foreach ($column in $columns)
                        #if($column.attrname != "id"
                        &&$column.attrname != "delFlag"
                        &&$column.attrname != "createBy"
                        &&$column.attrname != "createTime"
                        &&$column.attrname != "updateBy"
                        &&$column.attrname != "updateTime"
                        &&$column.attrname != "tenantId")
                                $column.attrname: '',
                        #end
                    #end
                    id: 0
                },
                dataRule: {
                    #foreach ($column in $columns)
                        #if($column.attrname != "id"
                        &&$column.attrname != "delFlag"
                        &&$column.attrname != "createBy"
                        &&$column.attrname != "createTime"
                        &&$column.attrname != "updateBy"
                        &&$column.attrname != "updateTime"
                        &&$column.attrname != "tenantId")
                                $column.attrname: [
                                {required: true, message: '$column.comments不能为空', trigger: 'blur'}
                            ],
                        #end
                    #end
                }
            }
        },
        methods: {
            handleAvatarSuccess(res, file) {
                this.dataForm.photo = res.url;
                this.imageUrl = URL.createObjectURL(file.raw);
            },
            init(id) {
                this.dataForm.id = id || 0
                this.visible = true
                #[[this.$nextTick(() => {]]#
                    #[[this.$refs['dataForm'].resetFields()]]#
                    if (this.dataForm.id) {
                        #[[this.$http({]]#
                        #[[url: this.$http.adornUrl]]#(`/${pathName}/info/${this.dataForm.id}`),
                            method: 'get',
                            #[[params: this.$http.adornParams()]]#
                        }).then(({data}) => {
                            if (data && data.code === 0) {
                                #foreach ($column in $columns)
                                    #if($column.attrname != "id"
                                    &&$column.attrname != "delFlag"
                                    &&$column.attrname != "createBy"
                                    &&$column.attrname != "createTime"
                                    &&$column.attrname != "updateBy"
                                    &&$column.attrname != "updateTime"
                                    &&$column.attrname != "tenantId")
                                        this.dataForm.$column.attrname = data.${pathName}.$column.attrname
                                    #end
                                #end
                            }
                        })
                    }
                })
            },
            // 表单提交
            dataFormSubmit() {
                #[[this.$refs['dataForm'].validate((valid) => {]]#
                if (valid) {
                #[[this.$http({]]#
                #[[url: this.$http.adornUrl]]#(`/${pathName}/${!this.dataForm.id ? 'save' : 'update'}`),
                method: 'post',
                #[[data: this.$http.adornData({]]#
                    #foreach ($column in $columns)
                    #if($column.attrname != "id"
                    &&$column.attrname != "delFlag"
                    &&$column.attrname != "createBy"
                    &&$column.attrname != "createTime"
                    &&$column.attrname != "updateBy"
                    &&$column.attrname != "updateTime"
                    &&$column.attrname != "tenantId")
                    '$column.attrname': this.dataForm.$column.attrname,
                    #end
                    #end
                    'id': this.dataForm.id || undefined
                })
                }).then(({data}) => {
                if (data && data.code === 0) {
                #[[this.$message({]]#
                message: '操作成功',
                type: 'success',
                duration: 1500,
                onClose: () => {
                this.visible = false
                    #[[this.$emit('refreshDataList')]]#
                }
                })
                } else {
                    #[[this.$message.error(data.msg)]]#
                }
                })
                }
                })
            }
        }
    }
</script>
