package ${package}.${moduleName}.client.dto.command;


import top.kdla.framework.validator.group.UpdateGroup;
import top.kdla.framework.dto.Command;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.time.LocalDateTime;

/**
 * ${comments}Command
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Builder
@NoArgsConstructor
@AllArgsConstructor(staticName = "of")
@Data
@Schema(name = "${comments}", description = "${comments}")
public class ${className}Command extends Command {
#foreach ($column in $columns)
##	#if($column.attrname != "delFlag"
##	&&$column.attrname != "createBy"
##	&&$column.attrname != "createTime"
##	&&$column.attrname != "updateBy"
##	&&$column.attrname != "updateTime"
##	&&$column.attrname != "tenantId")

	/**
	 * $column.comments
	 */
	@Schema(description = "${comments}$column.attrname")
	#if($column.attrType == "String")
	@NotBlank(message = "${comments}$column.attrname 不能为空", groups = UpdateGroup.class)
	#end
	#if($column.attrType != "String")
	@NotNull(message = "${comments}$column.attrname 不能为空", groups = UpdateGroup.class)
	#end
	private $column.attrType $column.attrname;
##	#end
#end

}
