package ${package}.${moduleName}.client.dto.command;


import io.swagger.v3.oas.annotations.media.Schema;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

import java.util.List;

@Builder
@NoArgsConstructor
@AllArgsConstructor(staticName = "of")
@Data
@Schema(name = "${comments}", description = "${comments}")
public class ${className}AllCommand {

	@Schema(description = "$comments")
	private ${className}Command ${classname};

	#foreach ($sub in $subList)
	/**
	 * $sub.comments
	 */
	@Schema(description = "$sub.comments")
	private List<${sub.className}Command> ${sub.classname};
	#end

}
