package ${package}.${moduleName}.infra.persistence.convertor;


import ${package}.${moduleName}.domain.model.entity.${className};
import ${package}.${moduleName}.domain.model.types.${className}Id;
import ${package}.${moduleName}.infra.persistence.entity.${className}Do;
import org.mapstruct.Mapper;
import org.mapstruct.Mapping;
import org.mapstruct.Mappings;
import java.util.Objects;

/**
 * ${comments}Convertor
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper(componentModel = "spring")
public interface ${className}Convertor {

	@Mappings({
			@Mapping(source = "id", target = "id")
	})
	${className} to${className}(${className}Do ${pathName}Do);

	@Mappings({
			@Mapping(source = "id", target = "id")
	})
	${className}Do from${className}(${className} ${pathName});

	default ${className}Id id2id(Long id) {
		if(Objects.isNull(id)) {
			return null;
		}
		return new ${className}Id(id);
	}

	default Long id2id(${className}Id typeId) {
		if(Objects.isNull(typeId)) {
			return null;
		}
		return typeId.get();
	}

}