package ${package}.${moduleName}.infra.persistence.entity;

import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

import java.math.BigDecimal;
import java.time.LocalDateTime;
import java.io.Serializable;

/**
 * ${comments}Do
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Builder
@NoArgsConstructor
@AllArgsConstructor(staticName = "of")
@Data
@TableName("${tableName}")
public class ${className}Do implements Serializable {
    #foreach ($column in $columns)
##    #if($column.attrname != "id"
##    &&$column.attrname != "deleted"
##    &&$column.attrname != "createBy"
##    &&$column.attrname != "createTime"
##    &&$column.attrname != "updateBy"
##    &&$column.attrname != "updateTime")

    /**
     * $column.comments
     */
    private $column.attrType $column.attrname;
##    #end
    #end
}

