package ${package}.${moduleName}.infrastructure.persistence.mybatis.entity;


import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableName;
import top.kdla.framework.infra.dal.mybatis.common.BaseDo;
import lombok.Data;

import java.math.BigDecimal;
import java.util.Date;

/**
 * ${comments}DO
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
@TableName("${tableName}")
public class ${className}Do extends BaseDo {

    #foreach ($column in $columns)
    #if($column.attrname != "id"
    &&$column.attrname != "delFlag"
    &&$column.attrname != "createBy"
    &&$column.attrname != "createTime"
    &&$column.attrname != "updateBy"
    &&$column.attrname != "updateTime")
    /**
     * $column.comments
     */
    private $column.attrType $column.attrname;
    #end

    #*#if($column.attrname == "tenantId")
    /**
     * 租户编码
     */
    @TableField(exist = false)
    private String tenantCode;

    /**
     * 租户名称
     */
    @TableField(exist = false)
    private String tenantName;
    #end*#
    #end
}

