package ${package}.${moduleName}.client.dto;

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

import java.io.Serializable;
import java.math.BigDecimal;
import java.time.LocalDateTime;
import top.kdla.framework.dto.BaseModel;


/**
 * ${comments}Dto
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */

@Builder
@NoArgsConstructor
@AllArgsConstructor(staticName = "of")
@Data
public class ${className}Dto extends BaseModel {
    #foreach ($column in $columns)
##    #if($column.attrname != "deleted"
##    &&$column.attrname != "createBy"
##    &&$column.attrname != "createTime"
##    &&$column.attrname != "updateBy"
##    &&$column.attrname != "updateTime")

    /**
     * $column.comments
     */
    private $column.attrType $column.attrname;
##    #end
    #end

}

