package ${package}.${moduleName}.domain.model.types;

import top.kdla.framework.domain.shared.ValueObject;
import org.apache.commons.lang3.StringUtils;

/**
 * ${comments}ID
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public class ${className}Id implements ValueObject<${className}Id> {

	private final String id;

	public ${className}Id(final String id) {
		if(StringUtils.isEmpty(id)) {
			throw new IllegalArgumentException("${comments}id不能为空");
		}
		this.id = id;
	}

	public String get() {
		return id;
	}

	@Override
	public boolean sameValueAs(${className}Id other) {
		return other != null && this.id.equals(other.id);
	}

	@Override
	public String toString() {
		return id;
	}
}
