#foreach ($column in $columns)
    #if($column.attrname != "id"
    &&$column.attrname != "deleted"
    &&$column.attrname != "createBy"
    &&$column.attrname != "createTime"
    &&$column.attrname != "updateBy"
    &&$column.attrname != "updateTime"
    &&$column.attrname != "tenantId"
    &&$column.attrname != "state")
        #set( $onefind= $column)
        #break
    #end
#end
<template>
    <el-dialog
            title="${comments}选择"
            :close-on-click-modal="true"
            :visible.sync="visible"
            append-to-body>
        <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
            #foreach ($column in $columns)
                #if($column.attrname != "id"
                &&$column.attrname != "deleted"
                &&$column.attrname != "createBy"
                &&$column.attrname != "createTime"
                &&$column.attrname != "updateBy"
                &&$column.attrname != "updateTime"
                &&$column.attrname != "tenantId"
                &&$column.attrname != "state"
                &&$column.attrname == $onefind.attrname)
                    <el-form-item>
                        <el-input v-model="dataForm.$column.attrname" placeholder="$column.comments" clearable></el-input>
                    </el-form-item>
                #end
            #end
            <el-form-item>
                <el-button @click="getDataList()">查询</el-button>
            </el-form-item>
        </el-form>
        <el-table
                :data="dataList"
                border
                v-loading="dataListLoading"
                style="width: 100%;">


            #foreach ($column in $columns)
                #if($column.attrname != "id"
                &&$column.attrname != "deleted"
                &&$column.attrname != "createBy"
                &&$column.attrname != "createTime"
                &&$column.attrname != "updateBy"
                &&$column.attrname != "updateTime"
                &&$column.attrname != "tenantId")
                    <el-table-column
                            prop="$column.attrname"
                            header-align="center"
                            align="center"
                            label="$column.comments">
                        #if($column.attrname == "photo")
                            <template slot-scope="scope">
                                <el-button @click="downloadFile(scope.row.photo)" icon="el-icon-download"></el-button>
                            </template>
                        #end
                        #if($column.attrname == "state")
                            <template slot-scope="scope">
                                <el-tag v-if="scope.row.state === '0'" size="small">正常</el-tag>
                                <el-tag v-else size="small" type="danger">禁用</el-tag>
                            </template>
                        #end
                    </el-table-column>
                #end
            #end
            <el-table-column
                    fixed="right"
                    header-align="center"
                    align="center"
                    width="150"
                    label="操作">
                <template slot-scope="scope">
                    <el-button type="text" size="small" @click="selectOne(scope.row)">选择</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                @size-change="sizeChangeHandle"
                @current-change="currentChangeHandle"
                :current-page="pageIndex"
                :page-sizes="[10, 20, 50, 100]"
                :page-size="pageSize"
                :total="totalPage"
                layout="total, sizes, prev, pager, next, jumper">
        </el-pagination>
    </el-dialog>
</template>

<script>
    export default {
        data() {
            return {
                dataForm: {
            #foreach ($column in $columns)
                #if($column.attrname != "id"
                &&$column.attrname != "deleted"
                &&$column.attrname != "createBy"
                &&$column.attrname != "createTime"
                &&$column.attrname != "updateBy"
                &&$column.attrname != "updateTime"
                &&$column.attrname != "tenantId"
                &&$column.attrname != "state"
                &&$column.attrname == $onefind.attrname)
                    $column.attrname: ''
                #end
            #end
                },
                visible: false,
                dataList: [],
                pageIndex: 1,
                pageSize: 10,
                rowindex: '',
                totalPage: 0,
                dataListLoading: false,
            }
        },
        methods: {
            downloadFile(file) {
                if (file == null || file == '') {
                    #[[this.$message.error('请先上传文件');]]#
                            return;
                }
                #[[window.open(this.$http.adornUrl('/sys/oss/download/' + file + '?token=' + this.$cookie.get('token') + '&tenantId=' + this.$cookie.get('tenantId')));]]#
            },
            init(rowindex) {
                this.visible = true;
                this.getDataList();
                this.rowindex = rowindex;
            },
            // 获取数据列表
            getDataList() {
                this.dataListLoading = true
                #[[this.$http({]]#
                #[[url: this.$http.adornUrl]]#('/${pathName}/list'),
                    method: 'get',
                        #[[params: this.$http.adornParams({]]#
                        'page': this.pageIndex,
                        'limit': this.pageSize,
                    #foreach ($column in $columns)
                    #if($column.attrname != "id"
                    &&$column.attrname != "deleted"
                    &&$column.attrname != "createBy"
                    &&$column.attrname != "createTime"
                    &&$column.attrname != "updateBy"
                    &&$column.attrname != "updateTime"
                    &&$column.attrname != "tenantId"
                    &&$column.attrname != "state"
                    &&$column.attrname == $onefind.attrname)
                        '$column.attrname': this.dataForm.$column.attrname
                    #end
                    #end
                    })
                }).then(({data}) => {
                    if (data && data.code === 0) {
                        this.dataList = data.page.list
                        this.totalPage = data.page.totalCount
                    } else {
                        this.dataList = []
                        this.totalPage = 0
                    }
                    this.dataListLoading = false
                })
            },
            // 每页数
            sizeChangeHandle(val) {
                this.pageSize = val
                this.pageIndex = 1
                this.getDataList()
            },
            // 当前页
            currentChangeHandle(val) {
                this.pageIndex = val
                this.getDataList()
            },
            // 选择
            selectOne(val) {
                #[[this.$emit('displaySelectInfo', val, this.rowindex)]]#
                this.visible = false;
            }
        }
    }
</script>
