package ${package}.${moduleName}.domain.model.entity;


import ${package}.${moduleName}.domain.model.types.${className}Id;
import top.kdla.framework.domain.shared.Entity;
import top.kdla.framework.domain.shared.StateEnum;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.io.Serializable;
import java.util.Date;
import lombok.Data;

/**
 * ${comments}领域对象
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
public class ${className} implements Entity<${className}> {

#foreach ($column in $columns)
	#if($column.columnName == $pk.columnName)
	private ${className}Id id;
	#end
	#if($column.attrname != "id"
    &&$column.attrname != "state")
	/**
	 * $column.comments
	 */
	private $column.attrType $column.attrname;
	#end
    #if($column.attrname == "state")
    /**
     * 状态
     */
    private StateEnum state;
    #end
#end

    @Override
    public boolean sameIdentityAs(${className} other) {
		return other != null && this.id.sameValueAs(other.id);
    }

	/**
	 * 禁用
	 */
	public void disable(){
		StateEnum state = this.state == StateEnum.DISABLE? StateEnum.ENABLE:StateEnum.DISABLE;
		this.state = state;
	}

}
