package ${package}.${moduleName}.domain.model.types;

import top.kdla.framework.domain.shared.ValueObject;
import java.util.Objects;

import lombok.Data;

/**
 * ${comments}ID
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
public class ${className}Id implements ValueObject<${className}Id> {

	private final Long id;

	public ${className}Id(final Long id) {
		if(Objects.isNull(id)) {
			throw new IllegalArgumentException("${comments}id不能为空");
		}
		this.id = id;
	}

	public Long get() {
		return id;
	}

	@Override
	public boolean sameValueAs(${className}Id other) {
		return other != null && this.id.equals(other.id);
	}

	@Override
	public String toString() {
		return String.valueOf(id);
	}
}
