<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.${moduleName}.infra.persistence.mapper.${className}Mapper">
    <sql id="Base_Column_List">
    #foreach ($column in $columns)
        #if($foreach.hasNext)
        $column.columnName,
        #else
        $column.columnName
        #end
    #end
    </sql>
    <select id="queryPage" parameterType="Map"
            resultType="${package}.${moduleName}.infra.persistence.entity.${className}Do">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        ${tableName}
        <where>
            #foreach ($column in $columns)
                #if($column.attrname == "deleted")
                AND deleted = 0
                #end
                #if($column.attrname != "id"
                &&$column.attrname != "deleted"
                &&$column.attrname != "createBy"
                &&$column.attrname != "createTime"
                &&$column.attrname != "updateBy"
                &&$column.attrname != "updateTime"
                &&$column.attrname != "state")
            <if test="params.$column.attrname != null and params.$column.attrname !=''">
                AND $column.columnName = #{params.$column.attrname}
            </if>
            #end
            #if($column.attrname == "state")
            <if test="params.state != null ">
                AND state = #{params.state}
            </if>
            #end
            #if($column.attrname == "createTime")
            <if test="params.createTimeStart != null ">
                AND create_time &gt;= #{params.createTimeStart}
            </if>
            <if test="params.createTimeEnd != null ">
                AND create_time &lt;= #{params.createTimeEnd}
            </if>
            #end
            #end
        </where>
        order by id desc
    </select>

    <select id="queryEntity" parameterType="Map"
            resultType="${package}.${moduleName}.infra.persistence.entity.${className}Do">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        ${tableName}
        <where>
            <if test="params.id != null">
                AND id = #{params.id}
            </if>
            #foreach ($column in $columns)
                #if($column.columnName == "deleted")
                    AND deleted = 0
                #end
            #end
        </where>
    </select>

    <select id="queryList" parameterType="Map"
            resultType="${package}.${moduleName}.infra.persistence.entity.${className}Do">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        ${tableName}
        <where>
            <if test="params.id != null">
                AND id = #{params.id}
            </if>
            #foreach ($column in $columns)
                #if($column.columnName == "deleted")
                    AND deleted = 0
                #end
            #end
        </where>
    </select>

    <select id="findById"
            resultType="${package}.${moduleName}.infra.persistence.entity.${className}Do">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        ${tableName}
        where id = #{id}
#foreach ($column in $columns)
    #if($column.columnName == "deleted")
        AND deleted = 0
    #end
#end
    </select>
</mapper>