package ${package}.${moduleName}.domain.repository;

import ${package}.${moduleName}.domain.model.entity.${className};
import ${package}.${moduleName}.domain.model.types.${className}Id;
import top.kdla.framework.dto.PageQuery;
import top.kdla.framework.dto.PageResponse;

import java.util.List;
import java.util.Map;

/**
 * ${comments}Repository
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Repository {

    /**
    * 分页查询
    *
    * @param pageQuery
    * @param params
    * @return
    */
    PageResponse<${className}> queryPage(PageQuery pageQuery, Map<String, Object> params);

    /**
     * 通过ID获取${comments}
     *
     * @param id
     * @return
     */
     ${className} findById(${className}Id id);

    /**
     * 保存
     *
     * @param ${pathName}
     */
    boolean store(${className} ${pathName});

    /**
     * 更新
     *
     * @param ${pathName}
     */
    boolean update(${className} ${pathName});

    /**
     * 删除
     *
     * @param ids
     */
    boolean delete(List<${className}Id> ids);
}
