package ${package}.${moduleName}.client.facade;

import top.kdla.framework.dto.SingleResponse;
import top.kdla.framework.dto.PageResponse;
import top.kdla.framework.dto.MultiResponse;
import ${package}.${moduleName}.client.dto.${className}Dto;
import ${package}.${moduleName}.client.dto.command.${className}Command;
import ${package}.${moduleName}.client.dto.query.${className}PageQuery;


/**
 * ${comments}Facade
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}ServiceFacade {

    /**
     * 分页查询
     *
     * @param ${pathName}PageQuery
     * @return
     */
    PageResponse<${className}Dto> page(${className}PageQuery ${pathName}PageQuery);

    /**
     * ${comments}list查询
     */
    MultiResponse<${className}Dto> list();

    /**
     * 通过ID获取${comments}
     *
     * @param id
     * @return
     */
    SingleResponse<${className}Dto> findById(String id);

    /**
     * 保存
     *
     * @param ${pathName}Command
     */
    SingleResponse<Boolean> save(${className}Command ${pathName}Command);

    /**
     * 更新
     *
     * @param ${pathName}Command
     */
    SingleResponse<Boolean> update( ${className}Command ${pathName}Command);

    /**
     * 批量删除
     *
     * @param ids
     */
    SingleResponse<Boolean> delete(String[] ids);

}
