package ${package}.${moduleName}.domain.specification;

import ${package}.${moduleName}.domain.model.entity.${className};
import top.kdla.framework.domain.shared.AbstractSpecification;

/**
 * ${comments}Specification
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public class ${className}UpdateSpecification extends AbstractSpecification<${className}> {


    public ${className}UpdateSpecification() {
    }

    @Override
    public boolean isSatisfiedBy(${className} ${pathName}) {
        //逻辑根据自己的实际情况来编写
        return true;
    }
}
